<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyw_XBKWsXz-ML1vUqXFEv_iMpAR9g6B8</string>
	<key>GCM_SENDER_ID</key>
	<string>823932159619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.veb.new3456way</string>
	<key>PROJECT_ID</key>
	<string>app197-62535</string>
	<key>STORAGE_BUCKET</key>
	<string>app197-62535.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823932159619:ios:785e63f97314ffb8ec7db6</string>
</dict>
</plist>